In [1]:
import pandas as pd

In [9]:
df1 = pd.read_csv('Data/0114.csv')
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,471,2014-01-01 00:00:06,2014-01-01 00:07:57,2009,Catherine St & Monroe St,40.711174,-73.996826,263,Elizabeth St & Hester St,40.717290,-73.996375,16379,Subscriber,1986,1
1,1494,2014-01-01 00:00:38,2014-01-01 00:25:32,536,1 Ave & E 30 St,40.741444,-73.975361,259,South St & Whitehall St,40.701221,-74.012342,15611,Subscriber,1963,1
2,464,2014-01-01 00:03:59,2014-01-01 00:11:43,228,E 48 St & 3 Ave,40.754601,-73.971879,2022,E 59 St & Sutton Pl,40.758491,-73.959206,16613,Subscriber,1991,1
3,373,2014-01-01 00:05:15,2014-01-01 00:11:28,519,Pershing Square N,40.751884,-73.977702,526,E 33 St & 5 Ave,40.747659,-73.984907,15938,Subscriber,1989,1
4,660,2014-01-01 00:05:18,2014-01-01 00:16:18,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,436,Hancock St & Bedford Ave,40.682166,-73.953990,19830,Subscriber,1990,1

In [10]:
df2 = pd.read_csv('Data/0214.csv')
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,-73.991475,21101,Subscriber,1991,1
1,372,2014-02-01 00:00:03,2014-02-01 00:06:15,285,Broadway & E 14 St,40.734546,-73.990741,439,E 4 St & 2 Ave,40.726281,-73.989780,15456,Subscriber,1979,2
2,591,2014-02-01 00:00:09,2014-02-01 00:10:00,247,Perry St & Bleecker St,40.735354,-74.004831,251,Mott St & Prince St,40.723180,-73.994800,16281,Subscriber,1948,2
3,583,2014-02-01 00:00:32,2014-02-01 00:10:15,357,E 11 St & Broadway,40.732618,-73.991580,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,17400,Subscriber,1981,1
4,223,2014-02-01 00:00:41,2014-02-01 00:04:24,401,Allen St & Rivington St,40.720196,-73.989978,439,E 4 St & 2 Ave,40.726281,-73.989780,19341,Subscriber,1990,1

In [11]:
df3 = pd.read_csv('Data/0314.csv')
df3.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,949,2014-03-01 00:00:16,2014-03-01 00:16:05,317,E 6 St & Avenue B,40.724537,-73.981854,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,17440,Subscriber,1942,1
1,533,2014-03-01 00:00:57,2014-03-01 00:09:50,457,Broadway & W 58 St,40.766953,-73.981693,441,E 52 St & 2 Ave,40.756014,-73.967416,20855,Subscriber,1960,1
2,122,2014-03-01 00:01:06,2014-03-01 00:03:08,146,Hudson St & Reade St,40.716250,-74.009106,276,Duane St & Greenwich St,40.717488,-74.010455,15822,Subscriber,1984,1
3,134,2014-03-01 00:01:14,2014-03-01 00:03:28,146,Hudson St & Reade St,40.716250,-74.009106,276,Duane St & Greenwich St,40.717488,-74.010455,17793,Subscriber,1985,1
4,997,2014-03-01 00:01:18,2014-03-01 00:17:55,150,E 2 St & Avenue C,40.720874,-73.980858,461,E 20 St & 2 Ave,40.735877,-73.982050,20756,Subscriber,1977,1

In [12]:
df4 = pd.read_csv('Data/0414.csv')
df4.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,558,2014-04-01 00:00:07,2014-04-01 00:09:25,82,St James Pl & Pearl St,40.711174,-74.000165,2008,Little West St & 1 Pl,40.705693,-74.016777,21062,Subscriber,1982,1
1,882,2014-04-01 00:00:20,2014-04-01 00:15:02,349,Rivington St & Ridge St,40.718502,-73.983299,312,Allen St & E Houston St,40.722055,-73.989111,20229,Subscriber,1988,1
2,587,2014-04-01 00:00:25,2014-04-01 00:10:12,293,Lafayette St & E 8 St,40.730287,-73.990765,334,W 20 St & 7 Ave,40.742388,-73.997262,20922,Subscriber,1959,1
3,355,2014-04-01 00:00:44,2014-04-01 00:06:39,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,282,Kent Ave & S 11 St,40.708273,-73.968341,20914,Subscriber,1981,1
4,524,2014-04-01 00:01:29,2014-04-01 00:10:13,459,W 20 St & 11 Ave,40.746745,-74.007756,503,E 20 St & Park Ave,40.738274,-73.987520,21051,Subscriber,1964,1

In [13]:
df5 = pd.read_csv('Data/0514.csv')
df5.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,158,2014-05-01 00:08:32,2014-05-01 00:11:10,438,St Marks Pl & 1 Ave,40.727791,-73.985649,428,E 3 St & 1 Ave,40.724677,-73.987834,20997,Subscriber,1961,1
1,427,2014-05-01 00:10:16,2014-05-01 00:17:23,537,Lexington Ave & E 24 St,40.740259,-73.984092,482,W 15 St & 7 Ave,40.739355,-73.999318,16655,Subscriber,1963,1
2,357,2014-05-01 00:12:28,2014-05-01 00:18:25,491,E 24 St & Park Ave S,40.740964,-73.986022,442,W 27 St & 7 Ave,40.746647,-73.993915,14643,Subscriber,1981,1
3,168,2014-05-01 00:13:41,2014-05-01 00:16:29,224,Spruce St & Nassau St,40.711464,-74.005524,360,William St & Pine St,40.707179,-74.008873,15085,Subscriber,1994,1
4,638,2014-05-01 00:15:45,2014-05-01 00:26:23,454,E 51 St & 1 Ave,40.754557,-73.965930,450,W 49 St & 8 Ave,40.762272,-73.987882,21678,Subscriber,1986,1

In [14]:
df6 = pd.read_csv('Data/0614.csv')
df6.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,520,2014-06-01 00:00:02,2014-06-01 00:08:42,358,Christopher St & Greenwich St,40.732916,-74.007114,426,West St & Chambers St,40.717548,-74.013221,18840,Subscriber,1979,1
1,520,2014-06-01 00:00:27,2014-06-01 00:09:07,335,Washington Pl & Broadway,40.729039,-73.994046,265,Stanton St & Chrystie St,40.722293,-73.991475,17442,Customer,\N,0
2,414,2014-06-01 00:00:32,2014-06-01 00:07:26,439,E 4 St & 2 Ave,40.726281,-73.989780,368,Carmine St & 6 Ave,40.730386,-74.002150,16447,Subscriber,1980,1
3,310,2014-06-01 00:00:34,2014-06-01 00:05:44,463,9 Ave & W 16 St,40.742065,-74.004432,380,W 4 St & 7 Ave S,40.734011,-74.002939,18218,Subscriber,1984,1
4,457,2014-06-01 00:00:35,2014-06-01 00:08:12,352,W 56 St & 6 Ave,40.763406,-73.977225,305,E 58 St & 3 Ave,40.760958,-73.967245,18115,Subscriber,1969,1

In [15]:
df7 = pd.read_csv('Data/0714.csv')
df7.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,404,2014-07-01 00:00:04,2014-07-01 00:06:48,545,E 23 St & 1 Ave,40.736502,-73.978095,402,Broadway & E 22 St,40.740343,-73.989551,19578,Subscriber,1987,2
1,850,2014-07-01 00:00:06,2014-07-01 00:14:16,238,Bank St & Washington St,40.736197,-74.008592,458,11 Ave & W 27 St,40.751396,-74.005226,19224,Subscriber,1987,1
2,1550,2014-07-01 00:00:21,2014-07-01 00:26:11,223,W 13 St & 7 Ave,40.737815,-73.999947,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,17627,Subscriber,1973,2
3,397,2014-07-01 00:00:29,2014-07-01 00:07:06,224,Spruce St & Nassau St,40.711464,-74.005524,2008,Little West St & 1 Pl,40.705693,-74.016777,15304,Subscriber,1982,1
4,609,2014-07-01 00:00:37,2014-07-01 00:10:46,346,Bank St & Hudson St,40.736529,-74.006180,521,8 Ave & W 31 St,40.750450,-73.994811,20062,Subscriber,1972,2

In [16]:
df8 = pd.read_csv('Data/0814.csv')
df8.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1142,2014-08-01 00:00:04,2014-08-01 00:19:06,470,W 20 St & 8 Ave,40.743453,-74.000040,312,Allen St & E Houston St,40.722055,-73.989111,19117,Subscriber,1969,1
1,117,2014-08-01 00:00:05,2014-08-01 00:02:02,236,St Marks Pl & 2 Ave,40.728419,-73.987140,432,E 7 St & Avenue A,40.726218,-73.983799,20549,Subscriber,1991,1
2,546,2014-08-01 00:00:07,2014-08-01 00:09:13,224,Spruce St & Nassau St,40.711464,-74.005524,340,Madison St & Clinton St,40.712690,-73.987763,15997,Subscriber,1984,1
3,2126,2014-08-01 00:00:11,2014-08-01 00:35:37,150,E 2 St & Avenue C,40.720874,-73.980858,522,E 51 St & Lexington Ave,40.757148,-73.972078,21437,Subscriber,1988,1
4,329,2014-08-01 00:00:15,2014-08-01 00:05:44,519,E 42 St & Vanderbilt Ave,40.752416,-73.978370,477,W 41 St & 8 Ave,40.756405,-73.990026,16693,Subscriber,1981,1

In [17]:
df9 = pd.read_csv('Data/0914.csv')
df9.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2828,9/1/2014 00:00:25,9/1/2014 00:47:33,386,Centre St & Worth St,40.714948,-74.002345,450,W 49 St & 8 Ave,40.762272,-73.987882,15941,Subscriber,1980.0,1
1,368,9/1/2014 00:00:28,9/1/2014 00:06:36,387,Centre St & Chambers St,40.712733,-74.004607,2008,Little West St & 1 Pl,40.705693,-74.016777,18962,Subscriber,1982.0,1
2,2201,9/1/2014 00:00:40,9/1/2014 00:37:21,386,Centre St & Worth St,40.714948,-74.002345,441,E 52 St & 2 Ave,40.756014,-73.967416,15982,Subscriber,1968.0,1
3,322,9/1/2014 00:00:41,9/1/2014 00:06:03,167,E 39 St & 3 Ave,40.748901,-73.976049,528,2 Ave & E 31 St,40.742909,-73.977061,19081,Subscriber,1961.0,1
4,1693,9/1/2014 00:00:59,9/1/2014 00:29:12,223,W 13 St & 7 Ave,40.737815,-73.999947,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,20836,Subscriber,1978.0,1

In [18]:
df10 = pd.read_csv('Data/1014.csv')
df10.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1027,10/1/2014 00:00:27,10/1/2014 00:17:34,479,9 Ave & W 45 St,40.760193,-73.991255,540,Lexington Ave & E 26 St,40.741473,-73.983209,21376,Subscriber,1977.0,1
1,534,10/1/2014 00:00:36,10/1/2014 00:09:30,417,Barclay St & Church St,40.712912,-74.010202,417,Barclay St & Church St,40.712912,-74.010202,16086,Subscriber,1974.0,2
2,416,10/1/2014 00:00:42,10/1/2014 00:07:38,327,Vesey Pl & River Terrace,40.715338,-74.016584,415,Pearl St & Hanover Square,40.704718,-74.009260,16073,Subscriber,1990.0,1
3,428,10/1/2014 00:00:50,10/1/2014 00:07:58,515,W 43 St & 10 Ave,40.760094,-73.994618,447,8 Ave & W 52 St,40.763707,-73.985162,18635,Subscriber,1966.0,1
4,281,10/1/2014 00:01:08,10/1/2014 00:05:49,497,E 17 St & Broadway,40.737050,-73.990093,537,Lexington Ave & E 24 St,40.740259,-73.984092,20203,Subscriber,1979.0,1

In [19]:
df11 = pd.read_csv('Data/1114.csv')
df11.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,97,11/1/2014 00:00:11,11/1/2014 00:01:48,344,Monroe St & Bedford Ave,40.685144,-73.953809,344,Monroe St & Bedford Ave,40.685144,-73.953809,15742,Subscriber,1983.0,1
1,604,11/1/2014 00:00:11,11/1/2014 00:10:15,477,W 41 St & 8 Ave,40.756405,-73.990026,480,W 53 St & 10 Ave,40.766697,-73.990617,17274,Subscriber,1980.0,1
2,629,11/1/2014 00:00:38,11/1/2014 00:11:07,546,E 30 St & Park Ave S,40.744449,-73.983035,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,19628,Subscriber,1981.0,1
3,939,11/1/2014 00:00:49,11/1/2014 00:16:28,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,511,E 14 St & Avenue B,40.729387,-73.977724,15664,Subscriber,1982.0,1
4,825,11/1/2014 00:00:56,11/1/2014 00:14:41,280,E 10 St & 5 Ave,40.733320,-73.995101,483,E 12 St & 3 Ave,40.732233,-73.988900,20704,Subscriber,1979.0,1

In [20]:
df12 = pd.read_csv('Data/1214.csv')
df12.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1257,12/1/2014 00:00:28,12/1/2014 00:21:25,475,E 16 St & Irving Pl,40.735243,-73.987586,521,8 Ave & W 31 St,40.750450,-73.994811,16047,Customer,NaN,0
1,275,12/1/2014 00:00:43,12/1/2014 00:05:18,498,Broadway & W 32 St,40.748549,-73.988084,546,E 30 St & Park Ave S,40.744449,-73.983035,18472,Subscriber,1988.0,2
2,450,12/1/2014 00:01:22,12/1/2014 00:08:52,444,Broadway & W 24 St,40.742354,-73.989151,434,9 Ave & W 18 St,40.743174,-74.003664,19589,Subscriber,1983.0,1
3,1126,12/1/2014 00:02:17,12/1/2014 00:21:03,475,E 16 St & Irving Pl,40.735243,-73.987586,521,8 Ave & W 31 St,40.750450,-73.994811,21142,Customer,NaN,0
4,331,12/1/2014 00:02:21,12/1/2014 00:07:52,519,Pershing Square North,40.751873,-73.977706,527,E 33 St & 2 Ave,40.744023,-73.976056,18679,Subscriber,1986.0,2

In [21]:
citibike_2014 = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12])
citibike_2014

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,471,2014-01-01 00:00:06,2014-01-01 00:07:57,2009,Catherine St & Monroe St,40.711174,-73.996826,263,Elizabeth St & Hester St,40.717290,-73.996375,16379,Subscriber,1986,1
1,1494,2014-01-01 00:00:38,2014-01-01 00:25:32,536,1 Ave & E 30 St,40.741444,-73.975361,259,South St & Whitehall St,40.701221,-74.012342,15611,Subscriber,1963,1
2,464,2014-01-01 00:03:59,2014-01-01 00:11:43,228,E 48 St & 3 Ave,40.754601,-73.971879,2022,E 59 St & Sutton Pl,40.758491,-73.959206,16613,Subscriber,1991,1
3,373,2014-01-01 00:05:15,2014-01-01 00:11:28,519,Pershing Square N,40.751884,-73.977702,526,E 33 St & 5 Ave,40.747659,-73.984907,15938,Subscriber,1989,1
4,660,2014-01-01 00:05:18,2014-01-01 00:16:18,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,436,Hancock St & Bedford Ave,40.682166,-73.953990,19830,Subscriber,1990,1
5,330,2014-01-01 00:05:55,2014-01-01 00:11:25,422,W 59 St & 10 Ave,40.770513,-73.988038,526,E 33 St & 5 Ave,40.747659,-73.984907,17343,Subscriber,1987,1
6,261,2014-01-01 00:06:04,2014-01-01 00:10:25,516,E 47 St & 1 Ave,40.752069,-73.967844,167,E 39 St & 3 Ave,40.748901,-73.976049,17880,Subscriber,1983,1
7,337,2014-01-01 00:06:41,2014-01-01 00:12:18,380,W 4 St & 7 Ave S,40.734011,-74.002939,435,W 21 St & 6 Ave,40.741740,-73.994156,16275,Subscriber,1963,1
8,429,2014-01-01 00:07:33,2014-01-01 00:14:42,296,Division St & Bowery,40.714131,-73.997047,306,Cliff St & Fulton St,40.708235,-74.005301,17318,Subscriber,1972,2
9,1025,2014-01-01 00:08:27,2014-01-01 00:25:32,540,Lexington Ave & E 26 St,40.741473,-73.983209,447,8 Ave & W 52 St,40.763707,-73.985162,15525,Subscriber,1981,1
10,718,2014-01-01 00:09:32,2014-01-01 00:21:30,263,Elizabeth St & Hester St,40.717290,-73.996375,251,Mott St & Prince St,40.723180,-73.994800,15693,Customer,\N,0
11,786,2014-01-01 00:10:59,2014-01-01 00:24:05,153,E 40 St & 5 Ave,40.752062,-73.981632,290,2 Ave & E 58 St,40.760203,-73.964785,15281,Subscriber,1968,1
12,267,2014-01-01 00:11:17,2014-01-01 00:15:44,151,Cleveland Pl & Spring St,40.721816,-73.997203,410,Suffolk St & Stanton St,40.720664,-73.985180,15159,Subscriber,1983,1
13,744,2014-01-01 00:12:23,2014-01-01 00:24:47,450,W 49 St & 8 Ave,40.762272,-73.987882,505,6 Ave & W 33 St,40.749013,-73.988484,15157,Subscriber,1976,1
14,704,2014-01-01 00:12:25,2014-01-01 00:24:09,331,Pike St & Monroe St,40.711731,-73.991930,195,Liberty St & Broadway,40.709056,-74.010434,17080,Subscriber,1980,2
15,1367,2014-01-01 00:12:47,2014-01-01 00:35:34,519,Pershing Square N,40.751884,-73.977702,386,Centre St & Worth St,40.714948,-74.002345,20731,Customer,\N,0
16,327,2014-01-01 00:13:11,2014-01-01 00:18:38,502,Henry St & Grand St,40.714215,-73.981346,411,E 6 St & Avenue D,40.722281,-73.976687,15655,Subscriber,1973,2
17,223,2014-01-01 00:15:30,2014-01-01 00:19:13,528,2 Ave & E 31 St,40.742909,-73.977061,518,E 39 St & 2 Ave,40.747804,-73.973442,15737,Subscriber,1982,1
18,577,2014-01-01 00:16:04,2014-01-01 00:25:41,467,Dean St & 4 Ave,40.683125,-73.978951,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,16115,Subscriber,1983,1
19,566,2014-01-01 00:16:13,2014-01-01 00:25:39,467,Dean St & 4 Ave,40.683125,-73.978951,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,15753,Subscriber,1983,2
20,637,2014-01-01 00:16:32,2014-01-01 00:27:09,285,Broadway & E 14 St,40.734546,-73.990741,505,6 Ave & W 33 St,40.749013,-73.988484,15440,Subscriber,1981,1
21,513,2014-01-01 00:16:38,2014-01-01 00:25:11,382,University Pl & E 14 St,40.734927,-73.992005,401,Allen St & Rivington St,40.720196,-73.989978,14650,Subscriber,1990,1
22,430,2014-01-01 00:18:47,2014-01-01 00:25:57,285,Broadway & E 14 St,40.734546,-73.990741,380,W 4 St & 7 Ave S,40.734011,-74.002939,19415,Subscriber,1971,2
23,837,2014-01-01 00:18:54,2014-01-01 00:32:51,488,W 39 St & 9 Ave,40.756458,-73.993722,380,W 4 St & 7 Ave S,40.734011,-74.002939,16827,Subscriber,1963,1
24,834,2014-01-01 00:19:03,2014-01-01 00:32:57,488,W 39 St & 9 Ave,40.756458,-73.993722,380,W 4 St & 7 Ave S,40.734011,-74.002939,20280,Subscriber,1963,1
25,387,2014-01-01 00:19:25,2014-01-01 00:25:52,401,Allen St & Rivington St,40.720196,-73.989978,342,Columbia St & Rivington St,40.717400,-73.980166,16776,Subscriber,1981,1
26,1191,2014-01-01 00:21:51,2014-01-01 00:41:42,251,Mott St & Prince St,40.723180,-73.994800,404,9 Ave & W 14 St,40.740583,-74.005509,15693,Customer,\N,0
27,601,2014-01-01 00:22:05,2014-01-01 00:32:06,507,E 25 St & 2 Ave,40.739126,-73.979738,150,E 2 St & Avenue C,40.720874,-73.980858,19260,Subscriber,1986,1
28,128,2014-01-01 00:22:29,2014-01-01 00:24:37,380,W 4 St & 7 Ave S,40.734011,-74.002939,380,W 4 St & 7 Ave S,40.734011,-74.002939,20001,Subscriber,1984,1
29,170,2014-01-01 00:22:36,2014-01-01 00:25:26,116,W 17 St & 8 Ave,40.741776,-74.001497,404,9 Ave & W 14 St,40.740583,-74.005509,18005,Subscriber,1986,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399039,85,12/31/2014 23:38:21,12/31/2014 23:39:46,434,9 Ave & W 18 St,40.743174,-74.003664,116,W 17 St & 8 Ave,40.741776,-74.001497,14619,Subscriber,1969,1
399040,762,12/31/2014 23:38:48,12/31/2014 23:51:30,499,Broadway & W 60 St,40.769155,-73.981918,450,W 49 St & 8 Ave,40.762272,-73.987882,19495,Subscriber,1965,2
399041,423,12/31/2014 23:39:46,12/31/2014 23:46:49,329,Greenwich St & N Moore St,40.720434,-74.010206,82,St James Pl & Pearl St,40.711174,-74.000165,18214,Subscriber,1974,1
399042,670,12/31/2014 23:39:55,12/31/2014 23:51:05,476,E 31 St & 3 Ave,40.743943,-73.979661,524,W 43 St & 6 Ave,40.755273,-73.983169,20119,Subscriber,1980,1
399043,581,12/31/2014 23:40:21,12/31/2014 23:50:02,433,E 13 St & Avenue A,40.729554,-73.980572,531,Forsyth St & Broome St,40.718939,-73.992663,20880,Subscriber,1985,1
399044,1167,12/31/2014 23:40:30,12/31/2014 23:59:57,485,W 37 St & 5 Ave,40.750380,-73.983390,325,E 19 St & 3 Ave,40.736245,-73.984738,16891,Subscriber,1983,1
399045,2222,12/31/2014 23:41:00,1/1/2015 00:18:02,250,Lafayette St & Jersey St,40.724561,-73.995653,485,W 37 St & 5 Ave,40.750380,-73.983390,16894,Subscriber,1980,1
399046,1113,12/31/2014 23:41:49,1/1/2015 00:00:22,417,Barclay St & Church St,40.712912,-74.010202,375,Mercer St & Bleecker St,40.726795,-73.996951,20308,Subscriber,1949,1
399047,419,12/31/2014 23:41:50,12/31/2014 23:48:49,360,William St & Pine St,40.707179,-74.008873,295,Pike St & E Broadway,40.714067,-73.992939,20191,Subscriber,1965,2
399048,246,12/31/2014 23:44:36,12/31/2014 23:48:42,285,Broadway & E 14 St,40.734546,-73.990741,335,Washington Pl & Broadway,40.729039,-73.994046,15155,Subscriber,1979,1
399049,259,12/31/2014 23:44:45,12/31/2014 23:49:04,285,Broadway & E 14 St,40.734546,-73.990741,335,Washington Pl & Broadway,40.729039,-73.994046,17584,Subscriber,1980,2
399050,293,12/31/2014 23:46:02,12/31/2014 23:50:55,432,E 7 St & Avenue A,40.726218,-73.983799,545,E 23 St & 1 Ave,40.736502,-73.978095,15153,Subscriber,1961,1
399051,117,12/31/2014 23:46:33,12/31/2014 23:48:30,546,E 30 St & Park Ave S,40.744449,-73.983035,540,Lexington Ave & E 26 St,40.741473,-73.983209,21311,Subscriber,1970,1
399052,447,12/31/2014 23:46:46,12/31/2014 23:54:13,434,9 Ave & W 18 St,40.743174,-74.003664,434,9 Ave & W 18 St,40.743174,-74.003664,16085,Subscriber,1963,1
399053,948,12/31/2014 23:48:38,1/1/2015 00:04:26,524,W 43 St & 6 Ave,40.755273,-73.983169,488,W 39 St & 9 Ave,40.756458,-73.993722,16298,Subscriber,1977,1
399054,317,12/31/2014 23:49:16,12/31/2014 23:54:33,419,Carlton Ave & Park Ave,40.695807,-73.973556,244,Willoughby Ave & Hall St,40.691960,-73.965369,17898,Subscriber,1985,2
399055,317,12/31/2014 23:49:20,12/31/2014 23:54:37,419,Carlton Ave & Park Ave,40.695807,-73.973556,244,Willoughby Ave & Hall St,40.691960,-73.965369,15745,Subscriber,1987,2
399056,425,12/31/2014 23:49:49,12/31/2014 23:56:54,144,Nassau St & Navy St,40.698399,-73.980689,419,Carlton Ave & Park Ave,40.695807,-73.973556,14714,Subscriber,1991,2
399057,391,12/31/2014 23:50:15,12/31/2014 23:56:46,291,Madison St & Montgomery St,40.713126,-73.984844,291,Madison St & Montgomery St,40.713126,-73.984844,20664,Subscriber,1977,1
399058,976,12/31/2014 23:51:19,1/1/2015 00:07:35,236,St Marks Pl & 2 Ave,40.728419,-73.987140,494,W 26 St & 8 Ave,40.747348,-73.997236,17842,Subscriber,1960,1
399059,500,12/31/2014 23:52:12,1/1/2015 00:00:32,223,W 13 St & 7 Ave,40.737815,-73.999947,127,Barrow St & Hudson St,40.731724,-74.006744,21384,Subscriber,1969,1
399060,207,12/31/2014 23:52:47,12/31/2014 23:56:14,331,Pike St & Monroe St,40.711731,-73.991930,296,Division St & Bowery,40.714131,-73.997047,20856,Subscriber,1985,1
399061,313,12/31/2014 23:53:05,12/31/2014 23:58:18,492,W 33 St & 7 Ave,40.750200,-73.990931,546,E 30 St & Park Ave S,40.744449,-73.983035,20278,Subscriber,1966,1
399062,966,12/31/2014 23:53:15,1/1/2015 00:09:21,540,Lexington Ave & E 26 St,40.741473,-73.983209,267,Broadway & W 36 St,40.750977,-73.987654,20314,Customer,NaN,0
399063,967,12/31/2014 23:54:50,1/1/2015 00:10:57,523,W 38 St & 8 Ave,40.754666,-73.991382,285,Broadway & E 14 St,40.734546,-73.990741,19202,Subscriber,1959,1
399064,553,12/31/2014 23:55:22,1/1/2015 00:04:35,82,St James Pl & Pearl St,40.711174,-74.000165,2008,Little West St & 1 Pl,40.705693,-74.016777,16908,Subscriber,1982,1
399065,1355,12/31/2014 23:56:37,1/1/2015 00:19:12,325,E 19 St & 3 Ave,40.736245,-73.984738,327,Vesey Pl & River Terrace,40.715338,-74.016584,20964,Subscriber,1971,1
399066,431,12/31/2014 23:57:03,1/1/2015 00:04:14,536,1 Ave & E 30 St,40.741444,-73.975361,491,E 24 St & Park Ave S,40.740964,-73.986022,20845,Subscriber,1963,1
399067,332,12/31/2014 23:57:25,1/1/2015 00:02:57,293,Lafayette St & E 8 St,40.730287,-73.990765,317,E 6 St & Avenue B,40.724537,-73.981854,15374,Subscriber,1984,1
399068,2048,12/31/2014 23:58:16,1/1/2015 00:32:24,440,E 45 St & 3 Ave,40.752554,-73.972826,264,Maiden Ln & Pearl St,40.707065,-74.007319,20831,Subscriber,1984,1

In [22]:
citibike_2014.to_csv('citibike_2014.csv', sep = ',')